USE [master]
GO
/****** Object:  Database [MenuDB]    Script Date: 26/9/2023 20:30:52 ******/
CREATE DATABASE [MenuDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MenuDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MenuDB]
GO
/****** Object:  Table [dbo].[ItemMenu]    Script Date: 26/9/2023 20:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMenu](
	[IdItemMenu] [int] IDENTITY(1,1) NOT NULL,
	[IdItemMenuPadre] [int] NULL,
	[Ruta] [nvarchar](256) NOT NULL,
	[Texto] [nvarchar](50) NOT NULL,
	[Visible] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[EsActivo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdItemMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemRol]    Script Date: 26/9/2023 20:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemRol](
	[IdItemRol] [int] IDENTITY(1,1) NOT NULL,
	[IdItemMenu] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdItemRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 26/9/2023 20:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/9/2023 20:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Usuario] [nvarchar](200) NOT NULL,
	[Pass] [nvarchar](200) NOT NULL,
	[Correo] [nvarchar](400) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[EsActivo] [bit] NULL,
 CONSTRAINT [PK__Usuario__5B65BF97B7DA2DF7] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemMenu] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[ItemMenu] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ItemMenu] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__FechaRe__1920BF5C]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__EsActiv__1A14E395]  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[ItemMenu]  WITH CHECK ADD  CONSTRAINT [FK_ItemMenu_ItemMenu] FOREIGN KEY([IdItemMenuPadre])
REFERENCES [dbo].[ItemMenu] ([IdItemMenu])
GO
ALTER TABLE [dbo].[ItemMenu] CHECK CONSTRAINT [FK_ItemMenu_ItemMenu]
GO
ALTER TABLE [dbo].[ItemRol]  WITH CHECK ADD  CONSTRAINT [FK_ItemRol_ItemMenu] FOREIGN KEY([IdItemMenu])
REFERENCES [dbo].[ItemMenu] ([IdItemMenu])
GO
ALTER TABLE [dbo].[ItemRol] CHECK CONSTRAINT [FK_ItemRol_ItemMenu]
GO
ALTER TABLE [dbo].[ItemRol]  WITH CHECK ADD  CONSTRAINT [FK_ItemRol_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[ItemRol] CHECK CONSTRAINT [FK_ItemRol_Rol]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
